body {
    background-color: lightgray;
    font-size: 16px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
    padding: 10px;
}

h3 {
    font-size: 28px;
    padding: 10px;
}

.liveNumbers {

    font-size: 23px;
    padding: 10px;

}

.StartGameText {

    font-size: 23px;
    color: red;
    padding: 10px;
}

.instructions{
    padding: 10px;
}